[Unit]
Description=OpenSearch
Documentation=https://opensearch.org/docs/latest
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
RuntimeDirectory=opensearch
PrivateTmp=true

User=opensearch
Group=opensearch

ExecStartPre=/opt/opensearch/bin/startup-config.sh
ExecStart=/opt/opensearch/bin/opensearch

StandardOutput=journal
StandardError=inherit

LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
LimitMEMLOCK=infinity

TimeoutStopSec=120
KillSignal=SIGTERM
KillMode=process
SendSIGKILL=no
SuccessExitStatus=143

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
